ADCDriver/x64/Release/ADCDriver.Build.CppClean.log
*.cache
ADCDriver/x64/Release/ADCDriver.obj
ADCDriver/Debug
*.pdb
*.pdb
*.obj
ADCDriver/Debug/link.write.1.tlog
x64
Debug
ipch
ADCDriver.sdf
ADCDriver/Release/ADCDriver.dll.intermediate.manifest
Release/ADCDriver.lib
ADCDriver/Release/ADCDriver.log
ADCDriver/Release/CL.write.1.tlog
Release/ADCDriver.exp
ADCDriver/Release/link.write.1.tlog
ADCDriver/Release/cl.command.1.tlog
ADCDriver/Release/mt.write.1.tlog
ADCDriver/Release/link.read.1.tlog
ADCDriver/Release/ADCDriver.lastbuildstate
ADCDriver/Release/ADCDriver.write.1.tlog
ADCDriver/Release/mt.read.1.tlog
ADCDriver/Release/CL.read.1.tlog
ADCDriver/Release/link.command.1.tlog
ADCDriver/Release/mt.command.1.tlog